@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

*{
    font-family: "Heebo", sans-serif;
    margin: auto;
}

section .hookform{
    width: 100%;
    margin: auto;
  }
  
  form{
      width: 450px;
      height: 390px;
      background: #c1d72f;
      margin-top: 40px;
      margin-left: 550px;
      display: block;
      position: absolute;
      border-radius: 10px;
  }
  
  form .input-field{
      position: relative;
      margin: 0 85px;
      width: 60%;
      height: 50px;
      background: #d7e57a;
      border: none;
      border-radius: 5px;
      margin-top: 25px;
      margin-bottom: 10px;
  }
  
  form .checkbox-label{
      background: transparent;
      margin: 0 10px;
      margin-left: 120px;
  }
  
  form .checkbox-input{
      margin-top: 30px;
      margin-left: 30px;
      width: 15px;
      height: 15px;
  }
  
  form .save-button{
      border: none;
      height: 30px;
      width: 70px;
      margin-left: 180px;
      margin-top: 20px;
      background: #fff;
      border-radius: 5px;
  }
  
  form .save-button:hover{
      background: rgb(109, 109, 109);
      color: #fff;
  }